<!--<h1>Users#show</h1>-->
<!--<p>Find me in app/views/users/show.html.erb</p>-->
<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>

<!-- ユーザーの投稿一覧は -->
<!--users/showと共通化-->
<!--post_images/_list.html.erbへ-->
<%= render 'public/post_images/list', post_images: @post_images %>
<!--部分テンプレートを呼び出せるように設定-->